@import '../../../scss/rem-calc.scss';

:host {
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: rem-calc(20) 0;

    .pokemon {
      display: flex;
      justify-content: space-between;
      position: relative;

      height: rem-calc(157 - 40);
      width: calc(49% - 40px);
      margin-bottom: rem-calc(10);
      padding: rem-calc(20);

      background: var(--white-color);
      border-radius: rem-calc(10);

      color: var(--primary-color);
      text-decoration: none;

      &__status {
        h2 {
          font-size: rem-calc(22);
          font-style: italic;
          font-weight: 700;
          text-transform: capitalize;

          margin-bottom: rem-calc(10);
        }

        ul {
          display: flex;
          flex-direction: column;

          li {
            display: flex;
            justify-content: center;
            align-items: center;

            width: rem-calc(60);
            margin-bottom: rem-calc(5);
            padding: rem-calc(5);

            background: var(--gray-color);
            border-radius: rem-calc(10);
          }
        }
      }

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: rem-calc(20);
        right: rem-calc(20);

        height: rem-calc(90);
        width: rem-calc(110);

        background: url('../../../assets/bg/background-list-pokemons.svg') no-repeat;

        img {
          width: rem-calc(60);
        }
      }
    }
  }
}
