@import './scss/variables.scss';
@import './scss/reset.scss';
@import './scss/rem-calc.scss';
@import './scss/btn.scss';
@import './scss/animation.scss';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap';


html {
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color);
}

main {
  max-width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;
}
